In [1]:
import pandas as pd

##### Series

In [3]:
s = pd.Series([45,22,12,46,76,28,75,19,39])

In [4]:
s

0    45
1    22
2    12
3    46
4    76
5    28
6    75
7    19
8    39
dtype: int64

In [5]:
s = pd.Series([45,22,12,46,76, 28.56, 75,19,39])

In [6]:
s

0    45.00
1    22.00
2    12.00
3    46.00
4    76.00
5    28.56
6    75.00
7    19.00
8    39.00
dtype: float64

In [7]:
s[2] = 'Pune'

/tmp/ipykernel_12726/230815075.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Pune' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  s[2] = 'Pune'

In [8]:
s

0     45.0
1     22.0
2     Pune
3     46.0
4     76.0
5    28.56
6     75.0
7     19.0
8     39.0
dtype: object

In [9]:
s[0]

45.0

In [10]:
s = pd.Series([45,22,12,46,76,28,75,19,39])

In [11]:
s.dtype

dtype('int64')

In [12]:
s.size

9

In [14]:
s.ndim

1

In [15]:
s.values

array([45, 22, 12, 46, 76, 28, 75, 19, 39])

In [16]:
s.min(), s.max(), s.std(), s.mean(), s.sum()

(12, 76, 23.118054512532936, 40.22222222222222, 362)

In [17]:
s1 = pd.Series([76,56,12,38,78,89], index = range(101,107))

In [18]:
s1

101    76
102    56
103    12
104    38
105    78
106    89
dtype: int64

In [19]:
s1[104]

38

##### DataFrame

In [23]:
r = list(range(1,6))
n = ['Ajay','Vijaya','Ramesh','Priya','Raj']
m = pd.Series([56.78, 89.34, 76.45, 66.23, 69.04])

In [24]:
df = pd.DataFrame({
    'roll': r,
    'name': n,
    'marks': m
})

In [25]:
df

   roll    name  marks
0     1    Ajay  56.78
1     2  Vijaya  89.34
2     3  Ramesh  76.45
3     4   Priya  66.23
4     5     Raj  69.04

In [26]:
type(df)

pandas.core.frame.DataFrame

In [27]:
type(s)

pandas.core.series.Series

In [28]:
df.dtypes

roll       int64
name      object
marks    float64
dtype: object

In [29]:
df.size

15

In [30]:
df.shape

(5, 3)