##### Import the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

##### Dataset

In [4]:
df = pd.read_csv('datasets/Social_Network_Ads.csv')

In [5]:
df.shape

(400, 5)

##### Holdout Method

In [7]:
from sklearn.model_selection import train_test_split

In [12]:
train, test = train_test_split(df)

In [13]:
train.shape

(300, 5)

In [14]:
test.shape

(100, 5)

In [15]:
train

      User ID  Gender   Age  EstimatedSalary  Purchased
163  15757837    Male  35.0          38000.0          0
271  15688172  Female  59.0          76000.0          1
192  15779581    Male  29.0          43000.0          0
117  15591433    Male  36.0          52000.0          0
18   15704583    Male  46.0          28000.0          1
..        ...     ...   ...              ...        ...
35   15713144    Male  35.0          27000.0          0
279  15759684  Female  50.0          36000.0          1
334  15814553    Male  57.0          60000.0          1
30   15581198    Male  31.0          74000.0          0
113  15773447    Male  37.0          55000.0          0

[300 rows x 5 columns]

In [16]:
train, test = train_test_split(df, random_state=0)

In [17]:
train

      User ID  Gender   Age  EstimatedSalary  Purchased
250  15810075  Female  44.0          39000.0          0
63   15583681    Male  32.0         120000.0          1
312  15733964  Female  38.0          50000.0          0
159  15598840  Female  32.0         135000.0          1
283  15663249  Female  52.0          21000.0          1
..        ...     ...   ...              ...        ...
323  15619465  Female  48.0          30000.0          1
192  15779581    Male  29.0          43000.0          0
117  15591433    Male  36.0          52000.0          0
47   15776348  Female  27.0          54000.0          0
172  15794661  Female  26.0         118000.0          0

[300 rows x 5 columns]

In [18]:
test

      User ID  Gender   Age  EstimatedSalary  Purchased
132  15725660    Male  30.0          87000.0          0
309  15652400  Female  38.0          50000.0          0
341  15776844    Male  35.0          75000.0          0
196  15738448  Female  30.0          79000.0          0
246  15638003  Female  35.0          50000.0          0
..        ...     ...   ...              ...        ...
146  15750839  Female  27.0          96000.0          1
135  15578006    Male  23.0          63000.0          0
390  15807837    Male  48.0          33000.0          1
264  15600379    Male  48.0          90000.0          1
364  15654456    Male  42.0         104000.0          1

[100 rows x 5 columns]

In [19]:
train, test = train_test_split(df, random_state=0, test_size=0.2)

In [20]:
train.shape

(320, 5)

In [21]:
test.shape

(80, 5)

In [23]:
x = df.drop('Purchased', axis = 1)
y = df['Purchased']

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

In [25]:
x_train.shape, x_test.shape

((300, 4), (100, 4))

In [26]:
y_train.shape, y_test.shape

((300,), (100,))

In [29]:
y.value_counts() / len(y) * 100

Purchased
0    64.25
1    35.75
Name: count, dtype: float64

In [30]:
y_train.value_counts() / len(y_train) * 100

Purchased
0    63.0
1    37.0
Name: count, dtype: float64

In [31]:
y_test.value_counts() / len(y_test) * 100

Purchased
0    68.0
1    32.0
Name: count, dtype: float64

In [32]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, random_state=0, stratify=y)

In [33]:
y_train.value_counts() / len(y_train) * 100

Purchased
0    64.333333
1    35.666667
Name: count, dtype: float64

In [34]:
y_test.value_counts() / len(y_test) * 100

Purchased
0    64.0
1    36.0
Name: count, dtype: float64